html {
  min-height: 100%;
}
body {
  background-image: url("IMG/clear-sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Shadows Into Light", cursive;
  color: white;
}
p {
  text-align: center;
  font-size: 20px;
}
a {
  color: white;
}
form {
  margin: 40px auto 0px;
}

input {
  padding: 5.5px;
  line-height: 30px;
  margin-right: 7px;
  border: 1px solid white;
  border-radius: 4px;
  min-width: 400px;
  font-size: 20px;
}
.searchbutton {
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5.5px;
  margin-right: 7px;
  font-size: 20px;
  background-color: white;
}
.searchbutton:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
}
.weatherbox {
  border: 2px solid white;
  border-radius: 20px;
  margin-top: 20px;
  padding: 100px 100px;
  border-bottom: none;
}
h1 {
  font-size: 100px;
  text-align: right;
  font-family: "Kristi";
  color: white;
}
.inactive:hover {
  text-decoration: none;
  cursor: pointer;
  color: rgb(233, 69, 69);
}
.inactive {
  color: rgb(233, 69, 69);
}
.active:hover {
  text-decoration: none;
  cursor: default;
  color: white;
}
h4 {
  padding-bottom: 40px;
  text-align: center;
}
.dayspecs {
  font-size: 18px;
  border: 1px solid white;
  border-radius: 15px;
  border-left: none;
  border-bottom: none;
  padding: 40px 0px 20px;
  color: white;
}
li {
  list-style: none;
  text-align: left;
}
ul {
  padding-inline-start: 10px;
}
.predictions {
  margin: 40px 0px 0px 0px;
}
.WeeklyPredictions {
  padding-top: 100px;
  margin-left: 38px;
}
.authorCredit {
  text-align: center;
  margin-top: -18px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.authorCredit:before,
.authorCredit:after {
  content: "";
  height: 30px;
  border-bottom: 2px solid white;
  border-radius: 20px;
  flex: 1;
  display: flex;
  margin-top: -27px;
}
.authorCredit:before {
  border-bottom-right-radius: 0;
  margin-right: 5px;
  margin-left: 1px;
}
.authorCredit:after {
  border-bottom-left-radius: 0;
  margin-left: 5px;
  margin-right: 1px;
}
.authorCredit a:hover {
  text-decoration: none;
  color: #8e0e1e;
}
